<div class="dashboard-grid">

    <div class="card success-card">
        <h3>Total Expenses</h3>
        <p>₹ {{ total_expense }}</p>
    </div>

    <div class="card">
        <h3>Monthly Budget</h3>
        <p>₹ {{ monthly_budget }}</p>
    </div>

    <div class="card warning-card">
        <h3>Remaining Budget</h3>
        <p>₹ {{ remaining_budget }}</p>
    </div>

    <div class="card">
        <h3>Total Transactions</h3>
        <p>{{ total_transactions }}</p>
    </div>

</div>

<div class="actions">
    <a href="/create-expense">
        <button>Add Expense</button>
    </a>

    <a href="/budget">
        <button>Set Budget</button>
    </a>

    <a href="/logout">
        <button class="logout-btn">Logout</button>
    </a>
</div>